body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c156d;
}

.login-wrapper {
    text-align: center;
}

.login-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    border-radius: 1rem;
    width: 9rem;
}

button[type="submit"]:active {
    color: #1c156d;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.icon-container img {
    width: 100px;
    /* Ajusta el tamaño de la imagen aquí */
}

.text-welcome h1 {
    margin-top: 20px;
    font-size: px;
    color: white;
    text-align: center;
    font-weight: 20px;
}

.text-welcome h3 {
    margin-top: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 20px;
}

.login-container input {
    margin-bottom: 5px;
    border-radius: 1rem
}